<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new State</title>
</head>
<body>
<div layout:fragment="content" style="margin: 0 auto; width: max-content">
    <h2>Create new State</h2>
    <form th:action="@{|/states/create|}" th:object="${state}" method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name">
            <div class="invalid-feedback d-block">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>

        <div class="mb-3">
            <input type="reset" class="btn btn-outline-secondary" value="Clear"/>
            <input type="submit" class="btn btn-primary" value="Create"/>
        </div>

    </form>
    <br>
    <a th:href="@{|/states/all|}">Go to State List</a>
</div>
</body>
</html>